* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25 161 173);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.card__img--btm {
  width: 50vw;
  position: fixed;
  bottom: -50%;
  right: -10%;
}

.card__img--top {
  width: 50vw;
  position: fixed;
  top: -50;
  left: -10%;
}

.card__img {
  border-radius: 75%;
  border: 4px white solid;
  margin: 10px;
  max-width: fit-content;
}

.card {
  width: 35vw;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 3%;
  z-index: 99;
  background-color: white;
  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.59);
}

.card--top {
  padding: 30px;
  background-color: white;
  background-image: url(img/bg-pattern-card.svg);
  border-radius: 5% 5% 0 0;
  background-position-y: top;
}
.card--top--background {
  height: 50px;
  width: auto;
}

.card--bottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 50px;
}

.card--background {
  z-index: index 0;
}
